@page "/"
@page "/{page:int}"
@page "/{categoryId:int}/{page:int}"
@using Blazor.Extensions.Canvas;
<div class="container">
    <div class="row">
        <div class="col">
            <div style="position: sticky;top: 70px;">
                <Category />
            </div>
        </div>
        <div class="col-7">
            <!--正文列表内容-->
            <div id="content">
                <Bloggers Page="Page.Value"
                          CategoryId="CategoryId" />
            </div>
            <!--分页-->
            <div id="pagination"></div>
        </div>
        <div class="col">
            <!--其它内容-->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="请输入关键字" aria-label="请输入关键字" aria-describedby="button-addon2" @bind="Search">
                <div class="input-group-append">
                    <a class="btn btn-outline-secondary" role="button" href="/search/@Search/1">搜索</a>
                </div>
            </div>
            <BECanvas Width="200" Height="200" @ref="_canvasReference"></BECanvas>
        </div>
    </div>
</div>